*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
}

/* =============== HEADER ==================================== */

header{
    background-color: #007B9E;
    clip-path: polygon(0 0, 100% 0, 100% 41%, 0 100%);
    padding: 40px 0;
    padding-bottom: 450px;
    width: 100%;
}

.header-content{
    position: relative;
    margin-top: -450px;
    width: 100%;
    display: flex;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    justify-content: space-between;
}

.vertical{
    flex-direction: column;
}

.header_photo_inner{
    width: 40%;
    background-image: url('./img/IMG_2098.JPG');
    background-position: center 25%;
    background-size: cover;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-repeat: no-repeat;
    box-shadow: 8px 15px 29px 0px rgba(0,0,0,0.71);
}

.head-name{
    position: relative;
    font-size: clamp(1.5rem, 3vw, 3rem);
    padding: 0 18px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-text{
    display: flex;
    align-items: center;
    width: 60%;
}

.header_text_inner{
    width: 100%;
    background-color: white;
    min-height: 330px;
    color: black;
    padding: 25px;
    box-shadow: 8px 15px 29px 0px rgba(0,0,0,0.71);
}

.header_text_inner h2{
    margin-bottom: 25px;
}

.header-icons{
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.icons-inner{
    display: flex;
    gap: 15px;
}

.icons-inner a{
    text-decoration: none;
    width: 26px;
    height: 26px;
    font-size: 26px;
    transition: all 0.3s ease-out;
}

.icons-inner a:hover{
    transform: translateY(-5px);
}

/* =============== MAIN ==================================== */

h3{
    color: black;
    font-size: 2.5rem;
    margin-top: 80px;
}

.portfolio-inner{
    color: black;
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 15px;
    margin-bottom: 75px;
}

.portfolio-item{
    margin-bottom: 45px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    background-color: white;
}

.portfolio-item:hover{
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.work-preview{
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    border-radius: 8px;
}

.work-info{
    margin-bottom: 15px;
}

.resume_builder{
    background-image: url('./img/resume_builder.png');
    background-size: cover;
    background-position: left;
}

.todoApp{
    background-image: url('./img/todo_app.png');
    background-size: cover;
    background-position: left;
}

.weather-app{
    background-image: url('./img/weather-app.png');
    background-size: cover;
    background-position: center;
}

.battleship{
    background-image: url('./img/BatallshipGame.png');
    background-size: cover;
    background-position: center;
}

.pokemon{
    background-image: url('./img/pokemonGame.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.tic-tac-toe{
    background-image: url('./img/TicTacToe.png');
    background-size: contain;
    background-position: center;
}

.project-name{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    padding: 0 15px;
    margin: 15px 0;
}

.project-links{
    display: flex;
    gap: 10px;
}

.project-links a{
    color: black;
    text-decoration: none;
    width: 16px;
    height: 16px;
    font-size: 16px;
    transition: all 0.3s ease-out;
}

.project-links a:hover{
    transform: translateY(-3px);
}

.project-description{
    padding: 0 15px;
}

/* =============== FOOTER ==================================== */

footer{
    background-color: #007B9E;
    padding: 20px 0;

}

.phone_number{
    color: white;
    display: flex;
    gap: 10px;
    font-size: 16x;
    margin-top: 20px;
}

.phone_number span{
    width: 16px;
    height: 16px;
}

.email{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.email svg{
    width: 16px;
    height: 16px;
}

.footer-icons{
    margin-top: 25px;
}

@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        margin-top: -490px;
    }
    
    .header_photo_inner, .header-text {
        width: 100%;
    }
    
    .header-wrapper {
        margin-bottom: -250px; /* Менше перекриття для маленьких екранів */
    }
    
    h3 {
        margin-top: 30px;
    }
}